<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div class="social-links">
          {%- include social.html -%}
        </div> 
      </div>

      <div class="footer-col">
        <p>&copy; <span id="currentYear"></span> Yogeshwaran Krishnan. All rights reserved.</p>
      </div>
    </div>

  </div> 
</footer>

<script>
  // Get the current year
  var currentYear = new Date().getFullYear();
  
  // Update the content of the span element with the current year
  document.getElementById("currentYear").textContent = currentYear;
</script>

